<a class="staff-admin-tools-link" href="{% url 'admin:index' %}">Django admin</a>
<a class="staff-admin-tools-link" href="{% url 'carwash_status' %}">Carwash update</a>
<a class="staff-admin-tools-link" href="{% url 'carwash_status_list' %}">Carwash list</a>
<a class="staff-admin-tools-link" href="{% url 'carwash_status_report' %}">Carwash report</a>
<a class="staff-admin-tools-link" href="{% url 'waiting_for_others' %}">Outstanding docs</a>
<a class="staff-admin-tools-link" href="{% url 'queued_incidents_list' %}">Queued incidents</a>
<a class="staff-admin-tools-link" href="{% url 'summarize_costs' %}">Message summary</a>
<a class="staff-admin-tools-link" href="{% url 'task_results' %}">Task results</a>
<a class="staff-admin-tools-link" href="{% url 'incident_dashboard' %}">Incident dashboard</a>
<a class="staff-admin-tools-link" href="{% url 'sms_summary_view' %}">SMS logs</a>
<a class="staff-admin-tools-link" href="{% url 'shortened_sms_report' %}">Short link SMS report</a>
<a class="staff-admin-tools-link" href="{% url 'fetch_twilio_calls' %}">Call logs</a>
<a class="staff-admin-tools-link" href="{% url 'email_event_summary' %}">Email logs</a>
<a class="staff-admin-tools-link" href="{% url 'employee_email_report' %}">Employee email report</a>
<a class="staff-admin-tools-link" href="{% url 'recruit:applicant_list' %}">Recruiting</a>
<a class="staff-admin-tools-link" href="{% url 'gsa_preview_select' %}">View as GSA</a>
