{% load waffle_tags %}
<div class="app-more-panel d-lg-none" id="staffMorePanel" hidden>
  <div class="app-more-panel-inner">
    <a class="app-more-link" href="{% url 'checklist_dashboard' %}">Checklists</a>
    <a class="app-more-link" href="{% url 'in_app_signing_dashboard' %}">In-app signing</a>
    <a class="app-more-link" href="{% url 'sales_targets:sales_target_dashboard_selector' %}">Targets</a>
    {% if user.is_dropbox %}
    <a class="app-more-link" href="{% url 'list_folders' %}">Dropbox</a>
    {% endif %}
    {% if user.is_comms %}
    <a class="app-more-link" href="{% url 'comms' %}">Communications</a>
    {% endif %}
    {% flag 'enable_nav_link' %}
    <a class="app-more-link" href="{% url 'quiz_list' %}">Quiz</a>
    {% endflag %}
    {% if user.is_staff %}
    <span class="app-more-heading">Admin tools</span>
    <a class="app-more-link" href="{% url 'admin:index' %}">Django admin</a>
    <a class="app-more-link" href="{% url 'carwash_status' %}">Carwash update</a>
    <a class="app-more-link" href="{% url 'carwash_status_list' %}">Carwash list</a>
    <a class="app-more-link" href="{% url 'carwash_status_report' %}">Carwash report</a>
    <a class="app-more-link" href="{% url 'waiting_for_others' %}">Outstanding docs</a>
    <a class="app-more-link" href="{% url 'queued_incidents_list' %}">Queued incidents</a>
    <a class="app-more-link" href="{% url 'summarize_costs' %}">Message summary</a>
    <a class="app-more-link" href="{% url 'task_results' %}">Task results</a>
    <a class="app-more-link" href="{% url 'incident_dashboard' %}">Incident dashboard</a>
    <a class="app-more-link" href="{% url 'sms_summary_view' %}">SMS logs</a>
    <a class="app-more-link" href="{% url 'shortened_sms_report' %}">Short link SMS report</a>
    <a class="app-more-link" href="{% url 'fetch_twilio_calls' %}">Call logs</a>
    <a class="app-more-link" href="{% url 'email_event_summary' %}">Email logs</a>
    <a class="app-more-link" href="{% url 'employee_email_report' %}">Employee email report</a>
    <a class="app-more-link" href="{% url 'recruit:applicant_list' %}">Recruiting</a>
    <a class="app-more-link" href="{% url 'gsa_preview_select' %}">View as GSA</a>
    {% endif %}
  </div>
</div>
